.navbar--main {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  background-color: white;
  padding: 0 50px;

  #menu-menu-principal {
    display: flex;
    width: auto;
    height: auto;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    & .menu-item {
      display: flex;
      position: relative;
      height: 100%;
      justify-content: center;
      align-items: center;

      &.active {
        background-color: rgba(0,0,0,.025);
      }

      & > a {
        height: 100%;
        padding: 25px;
        font-family: 'Playfair Display';
        color: black;
        font-size: 18px;
        font-weight: lighter;
      }
    }
  }

  #menu-reseaux-sociaux {
    display: flex;
    width: auto;
    height: auto;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    & .menu-item {
      display: flex;
      position: relative;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 1px solid rgba(0,0,0,.25);
      margin-right: 10px;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: black;

        & a {
          color: white;
        }
      }

      & a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: black;
        transition: color 0.1s ease-in-out;
      }
    }
  }
}