/*!
 Theme Name:   New Home
 Theme URI:    http://localhost/school_real-home/wp-content/themes/new-home/
 Author:       Melvin Lemoine
 Author URI:   http://www.melvin-lemoine.me
 Template:     new-home
 Version:      1.0.0
 License:      GNU General Public License v2 or later
*/
@charset 'utf-8';
@import 'general';
@import 'navbar';
@import 'node_modules/bulma/css/bulma.min.css';